:root {
    --background: #2A952E;
}

html {
    height: 100%;
}

body {
    height: 99%;
    background-color: var(--background);
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}


/* Menu Inicial */
.tela_inicial {
    width: 100%;
    height: 99vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.tela_inicial .botao_jogar #btIniciar, .fim_game .vitoria_derrota #btInicio {
    width: 250px;
    height: 80px;
    border: none;
    border-radius: 20px;
    font-size: 30px;
}

.tela_inicial .botao_jogar #btIniciar:hover, .fim_game .vitoria_derrota #btInicio {
    cursor: pointer;
}

/* Placar */

.jogo_principal .placar {
    display: flex;
    height: 40px;
    align-items: center;
    background-color: rgb(179, 179, 179);
    margin-bottom: 10px;
}

.jogo_principal .meu_placar, .jogo_principal .placar_oponente {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    font-size: x-large;
}

.jogo_principal .contra {
    display: flex;
    height: 100%;
    font-size: x-large;
    align-items: center;
}

.jogo_principal .nome {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo_principal .placar_jogo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo_principal .placar_jogo, .jogo_principal .contra {
    background-color: black;
    color: white;
}

/* Tipo de jogo Desabilitado*/

.jogo_principal .tipo_de_jogo {
    display: flex;
    font-size: x-large;
    justify-content: center;
}

/* Mesa Jogadas */

.mesa_cartas {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mesa_cartas img {
    width: 80px;
}

.mesa_cartas .minhas_cartas img:hover {
    scale: 1.1;
}

/* Posição da minha carta */

.position_minhas_cartas {
    position: absolute;
    top: 41vh;
    right: 36vw;
    transform: rotate(10deg);
}

/* Posição da carta oponente */

.position_cartas_oponente {
    position: absolute;
    top: 41vh;
    left: 36vw;
    transform: rotate(170deg);
}

/* Tela Resultado */

.fim_game {
    height: 99vh;
    display: flex;
    justify-content: center;
}

.fim_game .vitoria_derrota {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.fim_game .vitoria_derrota #resultado {
    font-size: 15rem;
}

/* Remover Elementos da tela */

.display_none {
    display: none;
}